.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-slide img{
  width:100%;
  height:300px;
}
.homepageBody main.ant-layout-content{
  width:640px;
  flex:none;
  padding:0 20px;
}
.amount .ant-card-body{
  display: flex;
  justify-content: space-around;
}
.amount .ant-card-body .ant-statistic{
  margin: 10px;
}
.homepageBody .ant-layout-sider-dark{
  flex:1!important;
  max-width: none!important;
}