#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.ant-layout-header{
  display:flex;
}
.login-logo{
  height:99px;
}
.about{
  display: flex;
}
.ant-layout-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copy-right{
  margin-top: 15px;
}
.ant-layout-content{
  height:430px;
  background-image: url(../img/bg.jpg);
  background-size: 100%;
  padding: 30px 80px 40px;
}
.login-box{
  width:280px;
  height:330px;
  float: right;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
  padding:15px;
}